@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(
    120deg,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #fff;
}

h1 {
  font-size: clamp(1.5rem, 5vw, 3.5rem);
  color: #fff;
  text-shadow: #051937 1px 0 10px;
  text-align: center;
}

#clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 2rem;
  gap: 2rem;
  background: transparent;
  border-radius: 5px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}

.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: rgba(15, 20, 32, 0.9);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  padding: 2rem;
  width: 100%;
  text-align: center;
}

.hours h2 {
  font-size: clamp(1rem, 2.5vw, 2rem);
}

.hours span {
  font-weight: bolder;
  font-size: clamp(1rem, 7vw, 5rem);
  color: #cbfa66;
}

@media (max-width: 600px) {
  #clock {
    width: 100%;
    padding: 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
    gap: 1rem;
  }

  .hours {
    width: 90%;
    max-width: 350px;
    padding: 1rem 0;
    gap: 0.5rem;
    margin: 0 auto;
  }
}
